<%- include('../includes/head.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigation.ejs') %>

         <div class="centered">
        <% if(products.length>0) {%>
            <% products.forEach(product =>{%>
                <p><%= product.productData.title%></p>
                <img src="<%= product.productData.imageUrl%>" alt="<%=product.productData.title%>">
                <p><%= product.productData.price%></p>
                <p><%= product.qty%></p>

                <button class="btn">+</button>
                <button class="btn">-</button>
            <%})%>
        <%} else {%>
            <h1>No Products in the Cart</h1>
        <%}%>

        
    </div>
        <%- include('../includes/end.ejs') %>